.hal{
  position: absolute;
  padding:  40px;
  width:    100%;
  height:   100%;
  top:      0;
  left:     0;
}

.hal__icon{
  margin:100px auto 10px;
  display: block;
}

.hal__message:extend(.alpha){
  font-weight: 100;
  display: block;
  text-align: center;
  font-weight: 100%;
  font-size: 64px;
}

.hal__result{
  opacity: .2;
  -webkit-animation: fadeIn .4s ease 0s both;
}